<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.s4.OrderMapper">


    <resultMap id="orderWithMemberMap" type="domain.Order">

        <!-- Order 자체 필드 -->
        <id property="id" column="order_id" />
        <result property="memberId" column="member_id" />
        <result property="orderedAt" column="ordered_at" />
        <result property="status" column="status" />

        <!--
         연관관계에 있는 객체를 조회
         Member
         -->
        <association property="member" javaType="domain.Member">
            <id property="id" column="m_id" />
            <result property="name" column="m_name" />
            <result property="email" column="m_email" />
            <result property="balance" column="m_balance" />
        </association>

    </resultMap>

    <select id="findByMemberId" parameterType="long" resultMap="orderWithMemberMap">
        SELECT
            o.id AS order_id,
            o.member_id,
            o.ordered_at,
            o.status,
            m.id AS m_id,
            m.name AS m_name,
            m.email AS m_email,
            m.balance AS m_balance
        FROM
            orders o
        JOIN
            member m
        ON
            o.member_id = m.id
        WHERE
            m.id = #{id}
    </select>

    <select id="findAllInlineMapping" resultMap="orderWithMemberMap">
        SELECT
            o.id AS order_id,
            o.member_id,
            o.ordered_at,
            o.status,
            m.id AS m_id,
            m.name AS m_name,
            m.email AS m_email,
            m.balance AS m_balance
        FROM
            orders o
        JOIN
            member m
        ON
            o.member_id = m.id
    </select>

<!--
    Nested Result Mapping
    하나의 Join 쿼리 결과를 ResultMap안에서 매핑
-->
    <resultMap id="orderNestedSelectMap" type="domain.Order">

        <!-- Order 자체 필드 -->
        <id property="id" column="order_id" />
        <result property="memberId" column="member_id" />
        <result property="orderedAt" column="ordered_at" />
        <result property="status" column="status" />

        <association property="member" select="mapper.s4.MemberMapper.findById" column="member_id"/>


    </resultMap>

    <select id="findAllWithMemberNestedSelect" resultMap="orderNestedSelectMap">
        SELECT
            id,
            member_id,
            ordered_at,
            status
        FROM
            orders
    </select>

    <resultMap id="orderWithItemsMap" type="domain.Order">

        <!-- Order 자체 필드 -->
        <id     property="id"           column="order_id" />
        <result property="memberId"     column="member_id" />
        <result property="orderedAt"    column="ordered_at" />
        <result property="status"       column="status" />

        <collection property="orderItems" ofType="domain.OrderItem">

            <id     property="id"        column="item_id" />
            <result property="orderId"   column="order_id" />
            <result property="productId" column="product_id" />
            <result property="quantity"  column="quantity" />
            <result property="price"     column="item_price" />

        </collection>

    </resultMap>

<!--
  자바 객체로 반환 -> resultType
  xml에서 지정한 타입 -> resultMap
-->
    <select id="findAllWithItems" resultMap="orderWithItemsMap">
        SELECT
            o.id AS order_id,
            o.member_id,
            o.ordered_at,
            o.status,
            oi.id AS item_id,
            oi.product_id,
            oi.order_id,
            oi.quantity,
            oi.price AS item_price
        FROM
            orders o
        JOIN
            order_item oi
        ON
            o.id = oi.order_id
    </select>

    <resultMap id="orderFullMap" type="domain.Order">

        <id     property="id"           column="order_id" />
        <result property="memberId"     column="member_id" />
        <result property="orderedAt"    column="ordered_at" />
        <result property="status"       column="status" />

        <association property="member" javaType="domain.Member">
            <id     property="id"       column="m_id" />
            <result property="name"     column="m_name" />
            <result property="email"    column="m_email" />
            <result property="balance"  column="m_balance" />
        </association>

        <collection property="orderItems" ofType="domain.OrderItem">

            <id     property="id"        column="oi_id" />
            <result property="orderId"   column="oi_order_id" />
            <result property="productId" column="oi_product_id" />
            <result property="quantity"  column="oi_quantity" />
            <result property="price"     column="oi_price" />

            <association property="product" javaType="domain.Product">

                <id     property="id"       column="p_id" />
                <result property="name"     column="p_name" />
                <result property="price"    column="p_price" />
                <result property="stock"    column="p_stock" />

            </association>

        </collection>


    </resultMap>

    <select id="findAllOrder" resultMap="orderFullMap">
        SELECT
            o.id AS order_id,
            o.member_id,
            o.ordered_at,
            o.status,
            m.id AS m_id,
            m.name AS m_name,
            m.email AS m_email,
            m.balance AS m_balance,
            oi.id AS oi_id,
            oi.order_id AS oi_order_id,
            oi.product_id AS oi_product_id,
            oi.quantity AS oi_quantity,
            oi.price AS oi_price,
            p.id AS p_id,
            p.name AS p_name,
            p.price AS p_price,
            p.stock AS p_stock
        FROM
            order o
        JOIN member m ON o.member_id = m.id
        JOIN order_item oi ON o.id = oi.order_id
        JOIN product p ON oi.product_id = p.id
    </select>

</mapper>

